body{
    background-color: lawngreen;
}

#score{
    font-family: cursive;
    font-weight: 900;
    font-size: x-large;
    margin-left: 20px;
    color: black;
}

#timer{
    font-family: cursive;
    float: right;
    font-weight:900;
    font-size: x-large;
    margin-right: 20px;
    color: black;
}

#skecth_to_be_drawn{
    color: red;
    font-weight: 900;
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}