body{
    background-color: palegreen;
}

#score{
    font-family: cursive;
    font-weight: 900;
    font-size: x-large;
    margin-left: 20px;
    color: black;
}

#timer{
    font-family: cursive;
    float: right;
    font-weight:900;
    font-size: x-large;
    margin-right: 20px;
    color: black;
}

#skecth_to_be_drawn{
    color: red;
    font-weight: 900;
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

canvas{
    border: 5px solid white;
    margin-top: 110px;
    border-radius: 20px;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes example {
    from{box-shadow: 1px 1px 38px black;}
    to{box-shadow: 1px 1px 38px white;}
}

h1{
    background-color: cornsilk;
    color: cadetblue;
    padding-left: 120px;
}

#show_sketch{
    float: right;
    margin-right: 20px;
}